.btn{
    padding: 11px 30px;
    border-radius: 50px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.line{
    width: 22px;
    height: 7px;
    background-color: #FFB128;
    border-radius: 10px;
    margin: 25px;
}